.title {
  text-align: center;
  font-size: 36px;
}

h1 {
  text-align: center;
}

.header-links {
  border: 3px solid blue;
  background-color: aqua;
  width: 160px;
  height: 39px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 21px;
}

.page-links {
  color: orangered;
  width: 140px;
  height: 25px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.links-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid red;
  text-align: center;
}
