h1 {
  text-align: center;
}

h3 {
  border: 1px solid black;
  width: 140px;
  height: 25px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

.links-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid red;
  text-align: center;
}