.unit-links-container {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.unit-links {
    border: 1px solid black;
    width: 144px;
    text-align: center;
}
